VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=


  apiKey: "AIzaSyAO52iPM28GBHNSnAzy0egZakzsCUuG6HU",
    authDomain: "jcibiratnagar-c541b.firebaseapp.com",
    projectId: "jcibiratnagar-c541b",
    storageBucket: "jcibiratnagar-c541b.firebasestorage.app",
    messagingSenderId: "763578556332",
    appId: "1:763578556332:web:98fefbc0b45438dffbe409",
